<% content_for(:title) { t(".title") } %>

<h1 class="font-bold text-4xl"><%= t(".title") %></h1>

<p class="mt-4"><%= t(".welcome", email: Current.user.email_address) %></p>

<nav class="mt-6">
  <%= link_to t(".client_accounts"), admin_clients_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</nav>
