<p><%= t(".greeting", name: @user.first_name) %></p>

<p><%= t(".body") %></p>

<p><%= link_to t(".link"), edit_password_url(@user.password_reset_token) %></p>

<p><%= t(".expiry", time: distance_of_time_in_words(0, @user.password_reset_token_expires_in)) %></p>
